.Imagestair-section {
  display: flex;
  justify-content: space-around;
  margin-top: 20%;
}
.Imagestair-section img {
  width: 350px;
}
.stairimg1 {

}
.stairimg2 {
  margin-top: 150px;
}
.stairimg3 {
  margin-top: 300px;
}
